In [2]:
%matplotlib inline

import warnings
warnings.filterwarnings(action='ignore')

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [3]:
import platform
import matplotlib as mpl
from matplotlib import font_manager, rc

system = platform.system()
if system == "Windows":
    font_path = "C:/Windows/Fonts/malgun.ttf"
elif system == "Darwin":
    font_path = "/System/Library/Fonts/AppleSDGothicNeo.ttc"
elif system == "Linux":
    font_path = "/usr/share/fonts/truetype/nanum/NanumGothic.ttf"
else:
    font_path = None

if font_path:
    font = font_manager.FontProperties(fname=font_path).get_name()
    mpl.rcParams['font.family'] = font
else:
    print("폰트 경로를 확인해주세요.")

mpl.rcParams['axes.unicode_minus'] = False

In [4]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [20]:
food_data = pd.read_csv('./data/서울특별시_일반음식점.csv',encoding='cp949')
food_data

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,공장생산직종업원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지,Unnamed: 47
0,1,일반음식점,07_24_04_P,3150000,3150000-101-2020-00448,20200803,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,35.19,NaN,NaN,NaN,NaN
1,2,일반음식점,07_24_04_P,3150000,3150000-101-2020-00449,20200803,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,50.37,NaN,NaN,NaN,NaN
2,3,일반음식점,07_24_04_P,3220000,3220000-101-2020-00851,20200803,NaN,1,영업/정상,1,...,0.0,NaN,0.0,0.0,N,13.65,NaN,NaN,NaN,NaN
3,4,일반음식점,07_24_04_P,3220000,3220000-101-2020-00853,20200803,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,Y,123.30,NaN,NaN,NaN,NaN
4,5,일반음식점,07_24_04_P,3220000,3220000-101-2020-00855,20200803,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,8.26,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472910,472911,일반음식점,07_24_04_P,3220000,3220000-101-2021-00112,20210202,NaN,3,폐업,2,...,0.0,NaN,0.0,0.0,N,18.00,NaN,NaN,NaN,NaN
472911,472912,일반음식점,07_24_04_P,3220000,3220000-101-2021-00113,20210202,NaN,3,폐업,2,...,0.0,NaN,0.0,0.0,N,13.86,NaN,NaN,NaN,NaN
472912,472913,일반음식점,07_24_04_P,3220000,3220000-101-2021-00114,20210202,NaN,3,폐업,2,...,0.0,NaN,0.0,0.0,N,14.15,NaN,NaN,NaN,NaN
472913,472914,일반음식점,07_24_04_P,3150000,3150000-101-2021-00072,20210203,NaN,3,폐업,2,...,0.0,NaN,0.0,0.0,N,75.60,NaN,NaN,NaN,NaN
472914,472915,일반음식점,07_24_04_P,3130000,3130000-101-2020-01013,20201208,NaN,3,폐업,2,...,0.0,NaN,0.0,0.0,N,22.75,NaN,NaN,NaN,NaN

In [ ]:
food_data.set_index('영업상태명',inplace=True)

In [30]:
food_data
food_data.drop(['폐업'],axis=0)

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,상세영업상태코드,상세영업상태명,...,공장생산직종업원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지,Unnamed: 47
영업상태명,,,,,,,,,,,,,,,,,,,,,
영업/정상,1,일반음식점,07_24_04_P,3150000,3150000-101-2020-00448,20200803,NaN,1,1,영업,...,NaN,NaN,NaN,NaN,N,35.19,NaN,NaN,NaN,NaN
영업/정상,2,일반음식점,07_24_04_P,3150000,3150000-101-2020-00449,20200803,NaN,1,1,영업,...,NaN,NaN,NaN,NaN,N,50.37,NaN,NaN,NaN,NaN
영업/정상,3,일반음식점,07_24_04_P,3220000,3220000-101-2020-00851,20200803,NaN,1,1,영업,...,0.0,NaN,0.0,0.0,N,13.65,NaN,NaN,NaN,NaN
영업/정상,4,일반음식점,07_24_04_P,3220000,3220000-101-2020-00853,20200803,NaN,1,1,영업,...,NaN,NaN,NaN,NaN,Y,123.30,NaN,NaN,NaN,NaN
영업/정상,5,일반음식점,07_24_04_P,3220000,3220000-101-2020-00855,20200803,NaN,1,1,영업,...,NaN,NaN,NaN,NaN,N,8.26,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
폐업,472911,일반음식점,07_24_04_P,3220000,3220000-101-2021-00112,20210202,NaN,3,2,폐업,...,0.0,NaN,0.0,0.0,N,18.00,NaN,NaN,NaN,NaN
폐업,472912,일반음식점,07_24_04_P,3220000,3220000-101-2021-00113,20210202,NaN,3,2,폐업,...,0.0,NaN,0.0,0.0,N,13.86,NaN,NaN,NaN,NaN
폐업,472913,일반음식점,07_24_04_P,3220000,3220000-101-2021-00114,20210202,NaN,3,2,폐업,...,0.0,NaN,0.0,0.0,N,14.15,NaN,NaN,NaN,NaN
폐업,472914,일반음식점,07_24_04_P,3150000,3150000-101-2021-00072,20210203,NaN,3,2,폐업,...,0.0,NaN,0.0,0.0,N,75.60,NaN,NaN,NaN,NaN
폐업,472915,일반음식점,07_24_04_P,3130000,3130000-101-2020-01013,20201208,NaN,3,2,폐업,...,0.0,NaN,0.0,0.0,N,22.75,NaN,NaN,NaN,NaN

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,상세영업상태코드,상세영업상태명,...,공장생산직종업원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지,Unnamed: 47
영업상태명,,,,,,,,,,,,,,,,,,,,,
영업/정상,1,일반음식점,07_24_04_P,3150000,3150000-101-2020-00448,20200803,NaN,1,1,영업,...,NaN,NaN,NaN,NaN,N,35.19,NaN,NaN,NaN,NaN
영업/정상,2,일반음식점,07_24_04_P,3150000,3150000-101-2020-00449,20200803,NaN,1,1,영업,...,NaN,NaN,NaN,NaN,N,50.37,NaN,NaN,NaN,NaN
영업/정상,3,일반음식점,07_24_04_P,3220000,3220000-101-2020-00851,20200803,NaN,1,1,영업,...,0.0,NaN,0.0,0.0,N,13.65,NaN,NaN,NaN,NaN
영업/정상,4,일반음식점,07_24_04_P,3220000,3220000-101-2020-00853,20200803,NaN,1,1,영업,...,NaN,NaN,NaN,NaN,Y,123.30,NaN,NaN,NaN,NaN
영업/정상,5,일반음식점,07_24_04_P,3220000,3220000-101-2020-00855,20200803,NaN,1,1,영업,...,NaN,NaN,NaN,NaN,N,8.26,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
영업/정상,124204,일반음식점,07_24_04_P,3080000,3080000-101-2021-00015,20210122,NaN,1,1,영업,...,NaN,NaN,NaN,NaN,N,40.00,NaN,NaN,NaN,NaN
영업/정상,124205,일반음식점,07_24_04_P,3080000,3080000-101-2021-00016,20210122,NaN,1,1,영업,...,NaN,NaN,NaN,NaN,N,66.91,NaN,NaN,NaN,NaN
영업/정상,124206,일반음식점,07_24_04_P,3070000,3070000-101-2021-00023,20210122,NaN,1,1,영업,...,NaN,NaN,NaN,NaN,N,45.91,NaN,NaN,NaN,NaN
영업/정상,124207,일반음식점,07_24_04_P,3070000,3070000-101-2021-00024,20210122,NaN,1,1,영업,...,NaN,NaN,NaN,NaN,N,25.00,NaN,NaN,NaN,NaN
영업/정상,124208,일반음식점,07_24_04_P,3070000,3070000-101-2021-00025,20210122,NaN,1,1,영업,...,NaN,NaN,NaN,NaN,N,53.80,NaN,NaN,NaN,NaN

In [23]:
food_data.drop(['폐업'],axis=0)

KeyError: "['폐업'] not found in axis"