In [42]:
import pandas as pd

In [43]:
mel = pd.read_excel('melonchart.xlsx')
mel

,순위,Service,title,artist
0,1위,Melon,Good Goodbye,화사 (HWASA)
1,2위,Melon,ONE MORE TIME,ALLDAY PROJECT
2,3위,Melon,타임캡슐,다비치
3,4위,Melon,Blue Valentine,NMIXX
4,5위,Melon,Golden,"HUNTR/X, EJAE, AUDREY NUNA, REI AMI, KPop Demo..."
...,...,...,...,...
95,96위,Melon,DRIP,BABYMONSTER
96,97위,Melon,Hype Boy,NewJeans
97,98위,Melon,Seven (feat. Latto) - Clean Ver.,정국
98,99위,Melon,비가 와서,임영웅
99,100위,Melon,Dash,PLAVE

In [52]:
gen = pd.read_excel('geniechart.xlsx')
gen.drop(columns=['순위'],inplace=True)

In [51]:
bug = pd.read_excel('bugschart.xlsx')
bug.drop(columns=['순위'],inplace=True)

In [54]:
music_concat = pd.concat([mel,bug,gen],join='outer',axis=1)
music_concat

,순위,Service,title,artist,Service,title,artist,Service,title,artist
0,1위,Melon,Good Goodbye,화사 (HWASA),Bugs,Good Goodbye,화사 (HWASA),Genie,Good Goodbye,화사 (HWASA)
1,2위,Melon,ONE MORE TIME,ALLDAY PROJECT,Bugs,ONE MORE TIME,ALLDAY PROJECT,Genie,타임캡슐,다비치
2,3위,Melon,타임캡슐,다비치,Bugs,LOOK AT ME,ALLDAY PROJECT,Genie,ONE MORE TIME,ALLDAY PROJECT
3,4위,Melon,Blue Valentine,NMIXX,Bugs,Blue Valentine,NMIXX,Genie,Golden,HUNTR/X & EJAE & Audrey Nuna & REI AMI & KPop ...
4,5위,Melon,Golden,"HUNTR/X, EJAE, AUDREY NUNA, REI AMI, KPop Demo...",Bugs,SPAGHETTI (feat. j-hope of BTS),LE SSERAFIM (르세라핌),Genie,Drowning,WOODZ
...,...,...,...,...,...,...,...,...,...,...
95,96위,Melon,DRIP,BABYMONSTER,Bugs,소나기,이클립스 (ECLIPSE),NaN,NaN,NaN
96,97위,Melon,Hype Boy,NewJeans,Bugs,Supernatural,NewJeans,NaN,NaN,NaN
97,98위,Melon,Seven (feat. Latto) - Clean Ver.,정국,Bugs,How Sweet,NewJeans,NaN,NaN,NaN
98,99위,Melon,비가 와서,임영웅,Bugs,나는 아픈 건 딱 질색이니까,i-dle (아이들),NaN,NaN,NaN
99,100위,Melon,Dash,PLAVE,Bugs,Snowman,Sia(시아),NaN,NaN,NaN

In [58]:
music_concat.set_index('순위',inplace=True)

In [61]:
music_concat.to_excel('total.xlsx')